
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Research Management System</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/home.css' %}">  <!-- Link to your CSS file -->
</head>
<body>
    <header>
        <h1>Welcome to the Research Management System</h1>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="{% url 'research_projects_list' %}">Research Data</a></li>
                <li><a href="{% url 'dashboard' %}">Analytics</a></li>
                <li><a href="{% url 'user_view' %}">Users</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Your Research, Simplified</h2>
            <p>Manage your research data efficiently with our easy-to-use platform.</p>
            <button onclick="location.href='{% url 'create_user' %}'">Get Started</button>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Research Management System</p>
    </footer>
</body>
</html>
